<div class="page-header">
    <h1>{{ page.title }} {% if page.tagline %}
        <small>{{page.tagline}}</small>
        {% endif %}
    </h1>
    <span class="post-date pull-right">{{ page.date | date_to_long_string }}</span>
</div>

<div class="row post-full">
    <div class="col-xs-12">
        <div class="content">
            {{ content }}
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3">
                <ul class="pagination">
                    {% if page.previous %}
                    <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}"
                                        title="{{ page.previous.title }}">&laquo;
                        Previous</a></li>
                    {% else %}
                    <li class="prev disabled"><a>&larr; Previous</a></li>
                    {% endif %}
                    <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
                    {% if page.next %}
                    <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}"
                                        title="{{ page.next.title }}">Next &raquo;</a>
                    </li>
                    {% else %}
                    <li class="next disabled"><a>Next &rarr;</a>
                        {% endif %}
                </ul>
            </div>
            <div class="col-md-6 col-md-offset-3">
                {% unless page.categories == empty %}
                <div class="row">
                    <div class="col-md-12">
                        <i class="glyphicon glyphicon-open"></i>&nbsp;
                        {% assign categories_list = page.categories %}
                        {% include JB/categories_list %}
                    </div>
                </div>
                {% endunless %}
                {% unless page.tags == empty %}
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12">
                        <i class="glyphicon glyphicon-tags"></i>&nbsp;
                        {% assign tags_list = page.tags %}
                        {% include JB/tags_list %}
                    </div>
                </div>
                {% endunless %}
            </div>
        </div>
    </div>
</div>
